<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>sim</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RemoveEmpresaServlet</display-name>
    <servlet-name>RemoveEmpresaServlet</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.RemoveEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEmpresaServlet</servlet-name>
    <url-pattern>/removeEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remov</display-name>
    <servlet-name>remov</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.remov</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remov</servlet-name>
    <url-pattern>/remov</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Safe</display-name>
    <servlet-name>Safe</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.Safe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Safe</servlet-name>
    <url-pattern>/Safe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mostra</display-name>
    <servlet-name>mostra</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.Mostra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mostra</servlet-name>
    <url-pattern>/mostra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Alteraempresa</display-name>
    <servlet-name>Alteraempresa</servlet-name>
    <servlet-class>br.com.alura.gerenciador.servlet.Alteraempresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alteraempresa</servlet-name>
    <url-pattern>/Alteraempresa</url-pattern>
  </servlet-mapping>
</web-app>